<hr class="divider">
<!--footer-->
<div class="footer center1">
	<p class="footerfont_1">关于我们&nbsp;|&nbsp;联系我们</p>
	<p class="footerfont_2">Copyright&nbsp;&copy;&nbsp;2014&nbsp;上海大唐移动通信设备有限公司</p>
</div>