<div class="face_bg_2 row">
	<div class="face_pic_f_bg_2 col-md-12 zoom">
		<div class="col-md-12 face_help_2"><%= image_tag "face_help_2.png" %></div>
		<div class="col-md-12 text_center_2 transparent_f_2">
			<h1>成绩查询</h1> 
		</div>
		<div class="col-md-12 face_help_2"><%= image_tag "face_help_2.png" %></div>
	</div>
</div>