<div class="face_bg_2 row">
	<div class="face_pic_f_bg_2 col-md-12 zoom">
		<div class="col-md-12 face_help_2"><%= image_tag "face_help_2.png" %></div>
		<div class="col-md-12 text_center_2 transparent_2">
			<h1>网络设备维护基础（一）测试</h1>
			<p>单选题（不计时）</p>
		</div>
		<div class="col-md-12 face_help_2"><%= image_tag "face_help_2.png" %></div>
	</div>
</div>