<div class="index-topbar-wrapper">
<div class="logo">
  <%= image_tag "logo.png" , class:"photo "%>
</div>
<div class="register">
  <span><a href="#" class="word">登录</a></span> |
  <span><a href="#" class="word">注册</a></span>
</div>
<div class="search">
      <form class="navbar-form" role="search">
        <div class="form-group" id="scbar">

        </div>
      </form>
</div>
  
</div>