<!--test-->
<!--test2-->
<div class="index-topbar-wrapper">
<div class="logo">
  <%= image_tag "logo.png" , class:"photo "%>
</div>
<div class="register">
  <span><a href="#" class="word">登录</a></span> |
  <span><a href="#" class="word">注册</a></span>
</div>
<div class="search">
      <form role="search">
        <div class="form-group" id="scbar">
        <div class="col">
          <input type="text" id="scbar_txt">
          <a id="scbar_bn" class="glyphicon glyphicon-search icon-search"></a>
        </div>
        </div>
      </form>
</div>
  
</div>