<<<<<<< HEAD
=======
<!--test-->
<!--test2-->
<!--test1-->
<div class="index-topbar-wrapper">
	<div class="logo">
		<%= image_tag "logo.png" , class:"photo "%></div>
	<div class="register">
		<span>
			<a href="#" class="word">登录</a>
		</span>
		|
		<span>
			<a href="#" class="word">注册</a>
		</span>
	</div>
	<div class="search">
		<form class="navbar-form" role="search">
			<div class="form-group" id="scbar"></div>
		</form>
	</div>
</div>
<<<<<<< HEAD
<div class="division"></div>
<div class="gray">
	<div class="white">
		内容
		<hr class="divider">
		<!--footer-->
		<div class="footer center1">
			<p class="footerfont_1">关于我们&nbsp;|&nbsp;联系我们</p>
			<p class="footerfont_2">Copyright&nbsp;&copy;&nbsp;2014&nbsp;上海大唐移动通信设备有限公司</p>
		</div>
	</div>
=======
<div class="register">
  <span><a href="#" class="word">登录</a></span> |
  <span><a href="#" class="word">注册</a></span>
</div>
<div class="search">
      <form role="search">
        <div class="form-group" id="scbar">
        <div class="col">
          <input type="text" id="scbar_txt">
          <a id="scbar_bn" class="glyphicon glyphicon-search icon-search"></a>
        </div>
        </div>
      </form>
</div>
  
>>>>>>> fa42a773bb91b92736053e87e3ef0b5197834760
</div>
>>>>>>> dev
