<%= render 'navbar' %>

<div class="division"></div>
<div class="gray">
<div class="container white">
<%= render  'carousel' %>
<% (1..2).each do |index| %>
<div class="row vidoes_topm">
	<div class="col-md-1 col-xs-1 boxbg"><%=  "#{index}"  %></div>
	<div class="col-md-9 col-xs-9">
		<div class="videotext">
		sddsdf</div>
	</div>
	<div class="col-md-2 col-xs-2 more">
		<a href="">更多>></a>
	</div>
</div>
<div class="row">
<% (1..3).each do |ind|%>
	<div class="col-md-4">sdfsdf
	<div class="video_title">
		sfdhsfghfdgh
	</div>
	<div class="video_futitle">
		fgjghjfg
	</div></div>
<% end %>
</div>
<%end%>
<div class="row"></div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
</div>
<%= render 'bottom' %>
</div>
</div>
