
 <nav class="navbar navbar-fixed-top backg">
        <div class="row">
            <div class="col-xs-6"><%= image_tag "head1.png", class:"photo" %></div>
            <div class="col-xs-6">
                    <div class="center1">
                      <a class="color1" href="#">登录 |</a><a class="color1" href="#"> 注册</a>
                      <form class="form-inline">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputAmount">Search</label>
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search">
		      <div class="input-group-addon backg1"><span></span></div>
		    </div>
		  </div>
		  
		</form>
                    </div>
            </div>
        </div> 
 </nav>
