<!--test-->
<%= render :partial => "navbar.html.erb"%>

<div class="row">
  <div class="col-xs-12 photo2">
  <div class="colour"><h2 class="colour2">成绩查询</h2></div>    
  </div>
</div>

<div class="gray">
<div class="division"></div>
  <div class="white">

<div class="container">
<div class="row">
  <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
  </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
  </div>
  </div>
</div>

    <hr class="divider">
    <!--footer-->
    <div class="footer center1">
      <p class="footerfont_1">关于我们&nbsp;|&nbsp;联系我们</p>
      <p class="footerfont_2">Copyright&nbsp;&copy;&nbsp;2014&nbsp;上海大唐移动通信设备有限公司</p>
    </div>
  </div>
  </div>