<!--test-->
<%= render :partial => "navbar.html.erb"%>
<div class="division"></div>
<div class="row">
  <div class="col-xs-12 photo2">
  <div class="colour"><h2 class="colour2">成绩查询</h2></div>    
  </div>
</div>

<div class="gray">
  <div class="white">

<div class="container">
<div class="row">
      <div class="col-xs-12">
            <p class="inset">
                 <span class="inset2">&nbsp课&nbsp&nbsp&nbsp程&nbsp</span>
            </p>
      </div>
</div>
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="radio" value="2" name="myrad">&nbsp&nbsp网络设备维护基础（2）</p> 
            </div>
      </div>
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="radio" value="3" name="myrad">&nbsp&nbsp网络设备维护基础（3）</p> 
            </div>
      </div> 
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="radio" value="4" name="myrad">&nbsp&nbsp网络设备维护基础（4）</p>
            </div>
      </div>
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="radio" value="5" name="myrad">&nbsp&nbsp网络设备维护基础（5）</p> 
            </div>
      </div>
</div><!-- container -->

<div class="container">
<div class="row">
      <div class="col-xs-12">
            <p class="inset">
                 <span class="inset2">&nbsp班&nbsp&nbsp&nbsp级&nbsp</span>
            </p>
      </div>
</div>
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="checkbox" name="check">&nbsp&nbsp2012级计算机（1）班</p>
            </div>
      </div>
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="checkbox" name="check">&nbsp&nbsp2012级计算机（2）班</p>
            </div>
      </div> 
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="checkbox" name="check">&nbsp&nbsp2012级计算机（3）班</p>
            </div>
      </div>
      <div class="row">
            <div class="col-xs-12">
                    <p class="dash"><input type="checkbox" name="check">&nbsp&nbsp2012级计算机（4）班</p>
            </div>
      </div>
</div><!-- container -->

<div class="row">
	<div class="col-xs-12 sprout">
		<button type="button" class="btn btn-info btn-lg sprout1">&nbsp&nbsp&nbsp&nbsp查&nbsp询&nbsp&nbsp&nbsp&nbsp</button>
	</div>
    
</div>

    <hr class="divider">
    <!--footer-->
    <div class="footer center1">
      <p class="footerfont_1">关于我们&nbsp;|&nbsp;联系我们</p>
      <p class="footerfont_2">Copyright&nbsp;&copy;&nbsp;2014&nbsp;上海大唐移动通信设备有限公司</p>
    </div>
  </div>
  </div>