<!--test-->
<div class=" index-topbar-wrapper">
<div class="row">
<div class="col-xs-6 col-md-8">
  <%= image_tag "logo_6.png" , class:"logo photo "%>
</div>
<div class="col-xs-6 col-md-4">
<div class="row register">
<div class="col-xs-12">
  <span><a href="#" class="word">登录</a></span> |
  <span><a href="#" class="word">注册</a></span>
  </div>
</div>
<div class="row search">
<div class="col-xs-12">
      <form role="search">
        <div class="form-group" id="scbar">
        <div class="col">
          <input type="text" id="scbar_txt">
          <a id="scbar_bn" class="glyphicon glyphicon-search icon-search"></a>
        </div>
        </div>
      </form>
</div>
</div>
</div>
</div>
</div>

<div class="row">
  <div class="col-xs-12 photo2">
  <div class="colour">成绩查询</div>    
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
  </div>
  </div>
</div>