<%= render :partial => "navbar.html.erb"%>
<div class="division"></div>
<div class="gray">
  <div class="white">
  <div class="container">
  <div class="row">
      <div class="col-xs-12">
            <p class="inset3">
                 <span class="inset4">网路设备维护基础（2）成绩分布</span>
            </p>
      </div>
   </div>
   <div class="row">
   	<div class="col-xs-12">
   		<p class="grade"><%= image_tag "titile_6.png"%> 学生成绩排名</p>
   	</div>
   </div>
	<table class="table table-bordered table-striped">
		<tr>
			<th class="student">学号</th>
			<th class="student">姓名</th>
			<th class="student">成绩</th>
			<th class="student">题1</th>
			<th class="student">题2</th>
			<th class="student">题3</th>
			<th class="student">题4</th>
			<th class="student">题5</th>
			<th class="student">题6</th>
			<th class="student">题7</th>
			<th class="student">题8</th>
			<th class="student">题9</th>
			<th class="student">题10</th>
		</tr>
		<tr>
			<td class="student">20120018</td>
			<td class="student">吴琼</td> 
			<td class="student">90</td> 
			<td class="student">B</td> 
			<td class="student">C</td> 
			<td class="student">A</td> 
			<td class="student">D</td> 
			<td class="student">D</td> 
			<td class="student">A</td> 
			<td class="student">B</td> 
			<td class="student">A</td> 
			<td class="student">C</td> 
			<td class="student">C</td>
		</tr>
		<tr>
			<td class="student">20120012</td> 
			<td class="student">李静</td> 
			<td class="student">80</td> 
			<td class="student">B</td> 
			<td class="student">C</td> 
			<td class="student">A</td> 
			<td class="student">D</td> 
			<td class="student">D</td> 
			<td class="student">C</td> 
			<td class="student">B</td> 
			<td class="student">A</td> 
			<td class="student">C</td> 
			<td class="student">D</td>
		</tr>
		<tr>
			<td class="student">20120020</td> 
			<td class="student">蒋敏杰</td> 
			<td class="student">80</td> 
			<td class="student">B</td> 
			<td class="student">C</td> 
			<td class="student">A</td> 
			<td class="student">D</td> 
			<td class="student">D</td> 
			<td class="student">A</td> 
			<td class="student">D</td> 
			<td class="student">A</td> 
			<td class="student">C</td> 
			<td class="student">C</td>
		</tr>
		<tr>
			<td class="student">20120010</td> 
			<td class="student">安然</td> 
			<td class="student">70</td> 
			<td class="student">B</td> 
			<td class="student">C</td> 
			<td class="student">A</td> 
			<td class="student">D</td> 
			<td class="student">D</td> 
			<td class="student">C</td> 
			<td class="student">B</td> 
			<td class="student">B</td> 
			<td class="student">C</td> 
			<td class="student">D</td>
		</tr>
		<tr>
			<td class="student">......</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td>&nbsp</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td>&nbsp</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td>&nbsp</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td>&nbsp</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>
		</tr>
	</table>

    <div class="row">
   	<div class="col-xs-12">
   		<p class="grade"><%= image_tag "titile2_6.png"%> 选项分布表</p>
   	</div>
   </div>
	<table class="table table-bordered table-striped">
		<tr>
			<th class="student">题目</th>
			<th class="student">题1</th>
			<th class="student">题2</th>
			<th class="student">题3</th>
			<th class="student">题4</th>
			<th class="student">题5</th>
			<th class="student">题6</th>
			<th class="student">题7</th>
			<th class="student">题8</th>
			<th class="student">题9</th>
			<th class="student">题10</th>
		</tr>
		<tr>
			<td class="student">正确答案</td>
			<td class="student">B</td>
			<td class="student">C</td>
			<td class="student">A</td>
			<td class="student">D</td>
			<td class="student">D</td>
			<td class="student">A</td>
			<td class="student">B</td>
			<td class="student">A</td>
			<td class="student">C</td>
			<td class="student">D</td>
		</tr>
		<tr>
			<td class="student">正确率&nbsp&nbsp&nbsp</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
		</tr>
		<tr>
			<td class="student">作答人数</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
		</tr>
		<tr>
			<td class="student">选A人数</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
		</tr>
		<tr>
			<td class="student">选B人数</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
		</tr>
		<tr>
			<td class="student">选C人数</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
		</tr>
		<tr>
			<td class="student">选D人数</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
			<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> 
		</tr>		
	</table>

<div class="row">
	<div class="col-xs-12 sprout2">
		<button type="button" class="btn btn-info">&nbsp&nbsp&nbsp&nbsp导出为EXCEL&nbsp&nbsp&nbsp&nbsp</button>
	</div>
    
</div>
</div><!-- container -->
    <hr class="divider">
    <!--footer-->
    <div class="footer center1">
      <p class="footerfont_1">关于我们&nbsp;|&nbsp;联系我们</p>
      <p class="footerfont_2">Copyright&nbsp;&copy;&nbsp;2014&nbsp;上海大唐移动通信设备有限公司</p>
    </div>
  </div>
  </div>