<%= render 'head' %>
<%= render 'picture_2' %>

<div class="subject_out_bg_2">
	<div class="container subject_in_bg_2">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="co-md-12 bulletin_top_2">asdfasdf</div>
				<div class="co-md-12 bulletin_bottom_2">sdfasdfasdlklk;lkk;f</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<%= render 'button_2' %>
		<%= render 'bottom' %>
	</div>
</div>