<%= render 'head' %>
<%= render 'picture_2' %>

<div class="subject_out_bg_2">
	<div class="container subject_in_bg_2">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thin_padding_2">
				<div class="co-md-12 bulletin_top_2"> 成&nbsp&nbsp绩</div>
				<div class="co-md-12 row bulletin_bottom_2 prominent_2">
					<div class="col-md-6 col-md-offset-3">
						<div class="row">
							<div class="col-md-12 word_strong_2">
								<%= image_tag "cry_2.png", class:"cry_big_2" %>
								&nbsp&nbsp
								该好好复习了！
							</div>
						</div>
						<br />
						<br />
						<div class="col-md-8  col-md-offset-2 word_big_2">
							您此次测试的成绩：<span class="danger_2">55</span>分<br />
							总分：100
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="row live_btn_away_change_2 blank_note_2">
			<div class="col-md-offset-1 col-md-10 button_back_thin_2">
				<div class="col-md-offset-4 col-md-4 submit_size_2">返回</div>
			</div>
		</div>
		<%= render 'bottom' %>
	</div>
</div>