.divider{
	margin:5px; 
	border-color: #ebebeb;
	border-width: 2px;
}
.footer{
	padding:30px 0 30px 0;
}
.center1{
	text-align: center;
}
.footerfont_1{
	color:#848484;
	font-size: 18px;
}
.footerfont_2{
	color:#848484;
}