.submit_size_2{
	width:50%;
	background-color: #5bcadb;
	padding:15px 35px 15px 35px;
	text-align: center;
	font-size: 30px;
	color:#fff;
}
.live_btn_away_2{
	margin-top: 60px;
	margin-bottom: 40px;
}