.zoom{
	padding: 10px 0px -2px 0px;
}
.face_bg_2{
	background-color: #fff;
}
.face_pic_bg_2{
	background: url(face_2.jpg) no-repeat;
	background-size: 100%;
}
.text_center_2{
	text-align: center;
	color:#fff;
}
.transparent_2{
	background-color: rgba(0,0,0,0.3);
}
.face_help_2{
	margin: 10px 0px 10px 0px;
}
.face_pic_f_bg_2{
	background: url(face_f_2.jpg) no-repeat;
	background-size: 100%;
}