.photo2{
	background-image: url(main_6.png);
	background-color: #000000;
	height: 208px;
}
.colour{
	padding-top: 50px;
}
.colour2{
	text-align: center;
 	padding-top:20px;
 	padding-bottom: 20px;
 	color: white;
 	background-color: rgba(0,0,0,0.1);
}
.photo1{
}
.press{
	padding: 0px !important;
	height: 34px;
	width: 34px;
}
.search{
	padding-right: 85px !important;
	width: 60% !important;
	padding-top: 5px;
}