.word_blue_2{
	color:#5bcbdc;
}
.word_height_mid_2{
	padding-top: 20px;
}
.word_pull_right_2{
	text-align: right;
}
.heigh_be_close_top_2{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.heigh_be_close_bottom_2{
	padding-top: 0px;
	margin-top: 0px;
}
.subject_out_bg_2{
	padding:0px 10px 0px 10px;
}
.subject_in_bg_2{
	background-color: #fff;
}
.body_bg_2{
	background-color: #ebebeb;
}
.title_blank_2{
	background-color: #f2fdff;
	padding:10px;
}
.nodle_top_2{
	margin-bottom: 0px;
	border-color: #ebebeb;
	border-width: 2px;
}
.nodle_bottom_2{
	margin-top: 0px;
	border-color: #ebebeb;
	border-width: 2px;
}
.radio_padding{
	padding-left: 35px;
}