.bulletin_top_2{
	background-color:#5bcadb; 
	margin-top: 35px;
	text-align: center;
	color: #fff;
	padding:5px;
	font-size: 30px;
}
.bulletin_bottom_2{
	background-color: #f2fdff;
	margin:0px !important;
}
.danger_2{
	color: red;
}
.prominent_2{
	padding:30px 0px 80px 0px;
}
.word_strong_2{
	font-size: 25px;
}
.word_big_2{
	font-size: 16px;
}
.thin_padding_2{
	.col-md-offset-3{
		padding-left: 40px !important;
	}
}
.cry_big_2{
	width: 20%;
}
.danger_f_2{
	color: green;
}
.oringe_2{
	color:#ea7504;
}