// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-topbar-wrapper{
	width: 100%;
	height: 80px;
	background:#5bcbdc;
}
.logo {
    float: left;
}
.photo{
	height: 100%;
	padding-left: 60px;
}
.word{
	color: white;
}
.register{
	padding-top: 8px;
	color: white;
	text-align: right;
	line-height: 18px;
	height: 18px;
	padding-right: 85px;
}
.search{
	float: right;
	padding-top: 15px;
	padding-right: 85px;
}
#scbar{
	height: 25px;
	background: none repeat scroll 0% 0% #FFF;
}
#scbar_txt{
	border: medium none;
	width: 135px;
}
#scbar_bn{
	width: 25px;
	height: 25px;
	opacity: 0.5;
	margin-top: 5px;	
}