// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body1{
	background-color: #ebebeb;
}
.backg{
	background-color: #5bcbdc;
	padding: 5px 50px 5px 50px;
	.photo{
	width: 100%;
	height: 100%;

	}
	.center1{
		text-align: right;
	}
	.color1{
		color: white;
	}
	.color2{
		color: #5bcbdc;
	}
	.search1{
		background-color:  #ddf8fc;
	}

}